aside{

    --aside-first-li-height: 6rem;
    --aside-first-svg-height: min(4.8rem, var(--aside-first-li-height));

    --aside-li-height: min(3.8rem, var(--aside-first-li-height)); /*  * 9  3.8rem */
    --aside-svg-height: min(3.2rem, var(--aside-li-height));


    --aside-ul-row-gap: .8rem; /* * 7 */
    --aside-nav-row-gap: 7rem; 
    
    --aside-font-size: 1.8rem;
    --aside-font-weight: 550;

    --aside-li-width: 28rem;

    --aside-nav-padding-block: 4rem;
    --aside-nav-padding: var(--aside-nav-padding-block) var(--aside-nav-padding-inline);

    --aside-svg-margin-left: .5rem;
    --aside-li-column-gap: max(2rem, var(--aside-svg-margin-left));

    --aside-dashboard-extra-gap: 2rem;
}

aside{
    font-size: var(--aside-font-size);
    font-family: sans-serif;
    font-weight: var(--aside-font-weight);

    background-color: #0078D4;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;

    height: 100dvh;
    width: var(--aside-li-width);
    overflow-y: auto;
    overflow-x: hidden;

    will-change: width;
}

aside ul{
    list-style-type: none;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: var(--aside-ul-row-gap);
}

aside a{
    text-decoration: none;
}

aside a:link,
aside a:visited,
aside p{
    color: white;
}

aside p{
    white-space: nowrap;
    overflow: hidden;

    flex-shrink: 0;
}

aside nav{
    display: flex;
    flex-direction: column;

    width: var(--aside-li-width);
    height: max-content;
    padding: var(--aside-nav-padding);

    row-gap: var(--aside-nav-row-gap);

    will-change: row-gap;
}

aside nav ul li{
    width: 100%;
    height: var(--aside-li-height);

    display: flex;

    border-radius: .4rem;

    overflow: hidden;
}

aside nav ul:first-of-type li{
    height: var(--aside-first-li-height);

    font-size: calc(var(--aside-font-size) + .5rem);

    transform: translateY(25%);

    & label > *{
        transform: translateX(var(--aside-dashboard-extra-gap));
    }
}

aside nav ul:first-of-type svg{
    height: var(--aside-first-svg-height);
}

aside nav ul *:has(> svg){
    width: 100%;

    display: flex;
    align-items: center;

    column-gap: var(--aside-li-column-gap);
}

aside li,
aside li label{
    cursor: pointer;
}

aside svg{
    margin-left: var(--aside-svg-margin-left); 

    flex-shrink: 0;

    height: var(--aside-svg-height);
    width: var(--aside-first-svg-height);
}


aside nav input{
    display: none;
}


















