main{
    --main-padding: 2rem var(--body-padding-left-right) 3rem var(--body-padding-left-right);

    

    --main-titles-font-size: 1.7rem;
    --main-titles-font-weight: 550;

    --projects-container-max-width: 84rem;
    --projects-container-min-width: 50rem;
    --projects-column-row-gap: 2rem;

    --main-socials-container-width: 28rem;

    --main-grid-columns: minmax(var(--projects-container-min-width), var(--projects-container-max-width)) auto;
}

main{
    position: relative;
    z-index: -1;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: var(--main-grid-columns);

    align-items: center;
    justify-content: space-between;

    column-gap: var(--projects-column-row-gap);

    padding: var(--main-padding);

}

.main-projects-container{

    width: 100%;
    height: 100%;


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3, 1fr);

    place-items: center;

    column-gap: var(--projects-column-row-gap);
    row-gap: var(--projects-column-row-gap);

    /* overflow: hidden; */
}

main .my-projects-header{
    grid-column: span 2;

    margin-right: auto;

    font-size: var(--main-titles-font-size);
    font-weight: var(--main-titles-font-weight);
}

.main-projects-container .projects{

    height: 100%;
    width: 100%;

    border-radius: .5rem;

    box-shadow: .4rem .4rem .5rem var(--header-svg-fill-colour);

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);

    position: relative;

    overflow: hidden;
}



.main-projects-container .projects .iframe-container{
    width: 100%;
    height: 100%;

    position: relative;

    grid-area: 1 / 1 / -1 / -1;
}

.main-projects-container .projects .iframe-container iframe{
    width: 156.2rem;
    height: 80rem;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    transform-origin: center;
}

/* New Additions for new branch */

.iframe-description-container{
    --iframe-description-container-height: 80%;
    
    --iframe-description-container-padding: 1rem 2rem var(--iframe-description-container-padding-bottom);
    --iframe-description-container-row-gap: 1.5rem;

    --iframe-svg-width-height: 2.5rem;

    --iframe-container-title-font-size: 1.5rem;
    --iframe-container-title-font-weight: 550;
    --iframe-container-description-font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    row-gap: var(--iframe-description-container-row-gap);

    height: var(--iframe-description-container-height);
    width: 100%;

    padding: var(--iframe-description-container-padding);

    margin-top: auto;

    /* border: .2rem var(--header-svg-fill-colour) solid; */

    grid-area: 1 / 1 / -1 / -1;

    z-index: 2;

    background-color: white;

    overflow-y: auto;

    transform: translateY(100%);

    transition: transform 500ms ease-in-out;
}

.iframe-description-container .iframe-title{
    font-size: var(--iframe-container-title-font-size);
    font-weight: var(--iframe-container-title-font-weight);

    position: relative;

    text-align: center;
}

.iframe-description-container .iframe-title::after{
    content: '';

    position: absolute;
    bottom: calc(var(--iframe-description-container-row-gap) * -0.5);
    left: 0;

    width: 100%;
    height: .2rem;

    background-color: var(--header-svg-fill-colour);

}

.iframe-description-container .iframe-paragraph{
    font-size: var(--iframe-container-description-font-size);

    text-align: center;
}







.iframe-svg-container{
    display: flex;
    column-gap: .5rem;

    margin-top: auto;
    margin-left: auto;
}

.iframe-svg-container > *{
    height: var(--iframe-svg-width-height);
    aspect-ratio: 1;

    cursor: pointer;

    overflow: hidden;
}

.iframe-svg-container > * svg{
    fill: var(--header-svg-fill-colour);
}

.main-projects-container .project-1:hover .iframe-description-container.proj-1{
    transform: translateY(0%);
}



.project-1{
    --iframe-description-container-padding-bottom: 4rem;
}

.project-1 .iframe-lower-access-container{
    --lower-access-container-height: calc(-.2rem + var(--iframe-description-container-padding-bottom));
    --lower-access-bcg: blueviolet;

    grid-area: 1 / 1 / -1 / -1;

    height: var(--lower-access-container-height);
    width: 100%;

    margin-top: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 3;
}
 
.iframe-lower-access-container .lower-access-svg-container{
    flex: 1 0 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 0;
    aspect-ratio: 2;

    border-color: white;
    border-style: solid;
    border-width: .2rem .2rem 0;

    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;

    background-color: var(--lower-access-bcg);

    transform: translateY(.2rem);

    overflow: hidden;

}

.iframe-lower-access-container .lower-access-svg-container svg{
    fill: white;

    height: 95%;

    transition: transform 300ms linear;
}

.lower-access-bar{
    flex: .8 0 0;

    height: 0;
    width: 100%;

    border-color: white;
    border-style: solid;
    border-width: .2rem 0 0;

    background-color: var(--lower-access-bcg);
}






.project-1:hover .iframe-lower-access-container .lower-access-svg-container svg{
    transform: rotate(180deg);
}

/* New Additions for new branch */


































.main-socials-container{
    --socials-container-row-gap: 2rem;

    width: var(--main-socials-container-width);
    height: 100%;

    display: flex;
    flex-direction: column;

    row-gap: var(--socials-container-row-gap);

}

.main-socials-container > *{
    flex: 1 0 0;

    width: 100%;
    height: 0;

    display: flex;
    flex-direction: column;

    row-gap: var(--projects-column-row-gap);

    
}


main .my-projects-header{
    margin-bottom: -1rem;
}

.announcement-container,
.trending-container{
    flex: 1 0 0;

    height: 0;
    width: 100%;

    background-color: white;

    border-radius: .5rem;

    box-shadow: .4rem .4rem .5rem var(--header-svg-fill-colour);

    --announcement-header-font-size: 1.6rem;
    --announcement-header-font-weight: 550;

    --announcement-text-font-size: 1.4rem;
    --announcement-text-font-weight: 520;

    --announcement-trending-padding-top-bottom: 3rem;
    --announcement-padding-left-right: 2.5rem;

    --announcement-row-gap: 2rem;

    --announcement-item-min-width: 80%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    row-gap: var(--announcement-row-gap);

    overflow: auto;
}

.announcement-container{
    padding: var(--announcement-trending-padding-top-bottom) var(--announcement-padding-left-right);
}

.trending-container{
    --trending-container-img-margin-left: min(1.5rem, var(--announcement-padding-left-right));
    --trending-container-padding: var(--announcement-trending-padding-top-bottom) 
                        calc(var(--announcement-padding-left-right) - var(--trending-container-img-margin-left));

    padding: var(--trending-container-padding);

    & .img-container{
        margin-left: var(--trending-container-img-margin-left);
    }
}

.announcement-container .announcement{
    display: flex;
    flex-direction: column;

    row-gap: .5rem;
}

.announcement-container .announcement:not(:last-child){
    border-bottom: .2rem var(--header-svg-fill-colour) solid;

    & .description{
        margin-bottom: var(--announcement-row-gap);
    }

}

.main-socials-container .announcement-container .title,
.main-socials-container .trending-container .title{
    font-size: var(--announcement-header-font-size);
    font-weight: var(--announcement-header-font-weight);
}

.main-socials-container .announcement-container .description,
.main-socials-container .trending-container .description{
    font-size: var(--announcement-text-font-size);
    font-weight: var(--announcement-text-font-weight);
}









.trending-container .followed-channels{
    --trending-container-item-height: 6rem;
    --trending-container-column-gap: 2rem;
    

    --trending-container-img-height: 90%;

    --trending-container-font-size: 1.4rem;
    --trending-container-font-weight: 550;

    width: 100%;
    height: var(--trending-container-item-height);

    display: flex;  

    font-size: var(--trending-container-font-size);
    font-weight: var(--trending-container-font-weight);

    
    border-radius: .4rem;

    transition: box-shadow 200ms ease-out,
                transform 200ms ease-out;
}

.trending-container .followed-channels a.youtube-channel-container{
    display: flex;
    align-items: center;

    column-gap: var(--trending-container-column-gap);

    width: 100%;
    height: 100%;

}

a.youtube-channel-container .img-container{
    flex-shrink: 0;

    height: var(--trending-container-img-height);
    aspect-ratio: 1;

    border-radius: 50%;

    /* margin-left: var(--trending-container-img-margin-left); */

    overflow: hidden;
}

a.youtube-channel-container .img-container img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.trending-container .followed-channels:hover{
    box-shadow: .4rem .4rem .8rem var(--header-svg-fill-colour);

    transform: scale(1.05);
}