:root{
    font-size: 62.5%;

    --body-structure-columns: 30rem minmax(100rem, 1fr);
    --body-structure-rows: 25rem 
                           minmax(40rem, 1fr);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 1.6rem;

    width: 100dvw;
    height: 100dvh;
    overflow: auto;

    display: grid;
    grid-template-columns: var(--body-structure-columns);
    grid-template-rows: var(--body-structure-rows);
    grid-template-areas: "sidebar header"
                         "sidebar main";


}

/* GENERAL STYLING ***START*** */

svg{
    display: block;
    height: 100%;
    aspect-ratio: 1;
}

/* GENERAL STYLING ***END*** */

header{
    grid-area: header;

    background-color: aqua;
}

aside{
    grid-area: sidebar;

    background-color: blue;
}

main{
    grid-area: main;

    background-color: darkblue;
}