:root{
    font-size: 62.5%;

    --aside-nav-padding-inline: 1rem;
    --sidebar-width: calc(8rem + var(--aside-nav-padding-inline));

    --sidebar-colour: rgb(0, 120, 212);
    --main-background-colour: white;
    --text-object-colour: grey;
}

body{
    --body-structure-columns: var(--sidebar-width) minmax(30rem ,1fr);
    --body-structure-rows: 22rem 
                           minmax(50rem, 1fr);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 1.6rem;
    font-family: Roboto sans-serif;

    width: 100dvw;
    height: 100dvh;

    display: grid;
    grid-template-columns: var(--body-structure-columns);
    grid-template-rows: var(--body-structure-rows);
    grid-template-areas: ". header"
                         ". main";
}

 /* GENERAL STYLING ***START***  */

svg{
    fill: white;
    display: block;
}

input[type="checkbox"]{
    display: none;
}

 /* GENERAL STYLING ***END***  */

header{
    background-color: whitesmoke;

    grid-area: header;
}

main{
    background-color: #dfdfdf;

    grid-area: main;

    

}