header{
    --header-row-gap: 2rem;
    --header-padding-left-right: clamp(2rem, (100dvw - 9rem) * 3.63 / 100, 4rem);
    --header-padding: 2rem var(--header-padding-left-right) 1rem var(--header-padding-left-right);

    --header-pre-border-colour: grey;
    /* --header-post-border-colour: #0078D4; */
    --header-border-width: .2rem;


    /* --header-top-row-item-height: 4rem;
    --header-top-row-item-width: 35rem;

    --header-bottom-row-item-height: 6rem;
    --header-bottom-row-item-width: 40rem; */

    --header-structure-columns: repeat(2, 1fr);
    --header-structure-rows: .8fr
                             1.2fr;

    --header-svg-fill-colour: #a0a0a0e3;
}

header{
    font-family: sans-serif;

    position: relative;
    z-index: 0;

    display: grid;
    grid-template-columns: var(--header-structure-columns);
    grid-template-rows: var(--header-structure-rows);

    align-items: center;
    
    padding: var(--header-padding);

    row-gap: var(--header-row-gap);
}

header::after{
    --box-shadow-height-header: 6%;

    content: '';

    position: absolute;

    width: 100%;
    height: var(--box-shadow-height-header);

    border-radius: inherit;

    background: linear-gradient(to bottom, var(--header-svg-fill-colour), transparent);

    bottom: calc(var(--box-shadow-height-header) * -1);
}

.header-left{
    justify-self: start;
}

.header-right{
    justify-self: end;
}














.search-bar{
    --header-search-height: 5rem;
    --header-search-width: clamp(32rem, 36dvw - .4rem, 50rem);

    position: relative;

    width: var(--header-search-width);
    height: var(--header-search-height);

    display: flex;
    align-items: center;

    column-gap: .4rem;
    
    /* border: 2px solid orange; */

    border-radius: .6rem;
}

.search-bar::before{
    content: '';

    position: absolute;
    width: 104%;
    height: 120%;

    z-index: -1;

    top: 50%;
    left: 50%;
    translate: -50% -50%;

    background-color: var(--header-svg-fill-colour);

    border-radius: inherit;
}

.search-button{
    flex-shrink: 0;

    height: 100%;
    aspect-ratio: 1;

    background-color: white;

    border-radius: inherit;
}

.search-button:hover{
    cursor: pointer;
}

.search-bar label{
    flex: 1;
    height: 100%;

    display: flex;
    align-items: center;

    border-radius: inherit;

}

/* REMOVING DEFAULT STYLING */

.search-bar label input{
    border: 0;
    &:focus{
        outline: 0;
    }
}

/* REMOVING DEFAULT STYLING */

.search-bar label input{
    flex: 1;
    height: 100%;

    padding-left: 1rem;

    border-radius: inherit;
}

.search-bar label input:focus{
    border: .2rem solid orange;
}




.settings{
    --settings-container-height: clamp(4rem, 26.667dvw - 17.3rem, 6rem);
    --settings-container-width: min(90%, 45rem);
    
    --settings-colour-modifier-height: 90%;
    --settings-bell-icon-container-height: 60%;
    --settings-github-icon-height: 90%;

    --settings-column-gap: clamp(1rem, 20dvw - 16rem, 2rem);
    
    --settings-font-size: 1.8rem;
    --settings-font-weight: 550;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    column-gap: var(--settings-column-gap);

    height: var(--settings-container-height);
    width: var(--settings-container-width);

    white-space: nowrap;

    font-size: var(--settings-font-size);
    font-weight: var(--settings-font-weight);

    overflow: hidden;
}

.settings > *{
    flex-shrink: 0;
}

.settings label{
    height: var(--settings-colour-modifier-height);
    aspect-ratio: 1;
    
    border-radius: 50%;

    background: linear-gradient(blue, red);

    cursor: pointer;

    & input{
        display: none;
    }
}

.settings .bell-icon-container{
    height: var(--settings-bell-icon-container-height);
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    overflow: hidden;
}

.settings .bell-icon-container:hover{
    scale: 1.3;
    rotate: 360deg;

    transition: scale 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
                rotate 600ms cubic-bezier(0.5, 0, 0.25, 1.4) 400ms;
}

.settings .bell-icon-container svg{
    fill: var(--header-svg-fill-colour);
}

.settings .github-icon{
    height: var(--settings-github-icon-height);
    aspect-ratio: 1;

    overflow: hidden;

    margin-left: auto;

    border-radius: 50%;
}

.settings .github-icon img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}









header .picture-description{
    --page-descrp-items-height: 80%;
    --page-descrp-column-gap: clamp(1rem, 20dvw - 16rem, 2rem);
    /* --page-descrp-row-gap: .5rem; */

    --page-descrp-font-size-upper: 1.4rem;
    --page-descrp-font-size-lower: 1.7rem;
    --page-descrp-font-weight-upper: 550;
    --page-descrp-font-weight-lower: 750;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    column-gap: var(--page-descrp-column-gap);

    overflow: hidden;
}

header .picture-description img{
    flex-shrink: 0;

    height: var(--page-descrp-items-height);
    aspect-ratio: 1;

    border-radius: 50%;
}

header .picture-description .page-description-container{
    flex: 1;

    height: var(--page-descrp-items-height);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    /* row-gap: var(--page-descrp-row-gap); */

}

header .picture-description .page-description-container p:first-child{
    white-space: nowrap;

    font-size: var(--page-descrp-font-size-upper);
    font-weight: var(--page-descrp-font-weight-upper);

    font-style: italic;

}

header .picture-description .page-description-container p:last-child{
    /* flex: 1; */

    font-size: var(--page-descrp-font-size-lower);
    font-weight: var(--page-descrp-font-weight-lower);
}






header .share{
    --share-container-width: clamp(38rem, 16dvw + 22.8rem, 42rem);
    --share-container-height: 40%;
    --share-container-column-gap: clamp(1rem, 20dvw - 16rem, 2rem);

    --share-container-items-width: 12rem;

    --share-container-font-weight: 540;

    width: var(--share-container-width);
    height: var(--share-container-height);

    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: var(--share-container-column-gap);
}

header .share .share-buttons{
    flex-shrink: 0;

    height: 100%;
    width: var(--share-container-items-width);

    border-radius: 30% / 100%;

    background-color: var(--sidebar-colour);

    transition: transform 400ms linear;
    
}

header .share .share-buttons button{
    height: 100%;
    width: 100%;

    font-weight: var(--share-container-font-weight);

    background-color: transparent;
    color: white;

    border-radius: inherit;

    white-space: nowrap;

    border: 0;

    cursor: pointer;
}

header .share .share-buttons:hover{
    transform: scale(1.05);
}














/* Our workaround for a box-shadow as applying this would
unevenly distribute the box-shadow along the bottom with blur
and we would require to have other items as higher and lower
z-indices so I decided on this instead */

/* header::after{
    --box-shadow-height-header: 6%;

    content: '';

    position: absolute;

    width: 100%;
    height: var(--box-shadow-height-header);

    border-radius: inherit;

    background: linear-gradient(to bottom, #a0a0a071, transparent);

    bottom: calc(var(--box-shadow-height-header) * -1);
}

.header-left{
    justify-self: start;
}

.header-right{
    justify-self: end;
}



.search-bar{
    --search-bar-border-radius: 2rem;

    box-sizing: content-box;

    width: calc(var(--header-top-row-item-width) + var(--header-border-width-post));
    height: calc(var(--header-top-row-item-height) + var(--header-border-width-post));

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar label{
    box-sizing: inherit;

    display: flex;
    align-items: center;

    height: var(--header-top-row-item-height);
    width: calc(var(--header-top-row-item-width) - var(--header-top-row-item-height) - var(--header-border-width-post));

    border-top-left-radius: var(--search-bar-border-radius);
    border-bottom-left-radius: var(--search-bar-border-radius);

    border: var(--header-pre-border-colour) solid;
    border-top-width: var(--header-border-width-pre);
    border-left-width: var(--header-border-width-pre);
    border-bottom-width: var(--header-border-width-pre);
    border-right-width: 0;

    cursor: text;
}

.search-bar input{
    --search-bar-margin-left: 2rem;

    width: calc(100% - var(--search-bar-margin-left));

    margin-left: var(--search-bar-margin-left);

    border: 0;
}

.search-bar input:focus{
    outline: 0;
}

.search-button{
    box-sizing: inherit;

    height: var(--header-top-row-item-height);
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;

    border-top-right-radius: var(--search-bar-border-radius);
    border-bottom-right-radius: var(--search-bar-border-radius);

    border: var(--header-pre-border-colour) solid;
    border-top-width: var(--header-border-width-pre);
    border-right-width: var(--header-border-width-pre);
    border-bottom-width: var(--header-border-width-pre);
    border-left-width: 0;

    cursor: pointer;
}


.search-bar label:has(input:focus),
.search-bar label:has(input:focus) + .search-button{
    border-color: var(--header-post-border-colour);
    border-top-width: var(--header-border-width-post);
    border-bottom-width: var(--header-border-width-post);
}

.search-bar label:has(input:focus){
    border-left-width: var(--header-border-width-post);
}

.search-bar label:has(input:focus) + .search-button{
    border-right-width: var(--header-border-width-post);
}

.search-button svg{
    fill: grey;

    height: 80%;

    margin-right: .3rem;
}







.settings{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    column-gap: 2rem;

    height: calc(var(--header-top-row-item-height) + var(--header-border-width-post));
    width: calc(var(--header-top-row-item-width) + var(--header-border-width-post));
}

.settings label{
    box-sizing: content-box;

    height: calc(var(--header-top-row-item-height) * 0.95);
    aspect-ratio: 1;

    border-radius: 50%;
    border: var(--header-border-width-post) black solid;

    box-shadow: 0 .6rem 1.2rem rgba(0, 0, 0, 0.2);

    background: linear-gradient(to bottom right, 
                    var(--sidebar-colour) 0%, 
                    var(--sidebar-colour) 38%,  
                    var(--main-background-colour) 38%, 
                    var(--main-background-colour) 62%, 
                    var(--text-object-colour) 62%, 
                    var(--text-object-colour) 100%);

    cursor: pointer;

    transition: scale 300ms ease-out,
                box-shadow 300ms ease-out;
}

.settings label:hover{
    scale: 1.3;

    box-shadow: 0 .6rem 1.2rem rgba(0, 0, 0, 0.3);
}

.settings .bell-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(var(--header-top-row-item-height) * 0.6);
    aspect-ratio: 1;

    cursor: pointer;

   
}

.settings .bell-icon-container:hover{
    scale: 1.3;
    rotate: 360deg;

    transition: scale 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
                rotate 600ms cubic-bezier(0.5, 0, 0.25, 1.4) 400ms;
}

.settings .bell-icon-container svg{
    fill: black;
}

.settings .github-icon{
    box-sizing: content-box;

    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--header-top-row-item-height);
    aspect-ratio: 1;

    ////// border: var(--header-border-width-pre) var(--header-pre-border-colour) solid;
    border-radius: 50%;

    overflow: hidden;
}

.settings .github-icon img{
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.settings p{
    margin-left: 1rem;

    font-weight: bold;
    font-size: 1.8rem;
}

.picture-description{
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(var(--header-bottom-row-item-width) + var(--header-border-width-post));
    height: calc(var(--header-bottom-row-item-height) + var(--header-border-width-post));
}

.picture-description img{
    height: var(--header-bottom-row-item-height);
    aspect-ratio: 1;

    border-radius: 50%;
}

.page-description-container{
    
} */









































/* .header-left{
    justify-content: flex-start;
}

.header-right{
    justify-content: flex-end;
}

header > *{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-positioning{
    --search-bar-border-radius: 1.8rem;
    --search-bar-border-width-pre: .1rem;
    --search-bar-border-width-post: .5rem;

    box-sizing: content-box;
    width: 100%;
    height: 100%;
}

.search-bar-positioning label{
    box-sizing: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30rem;
    height: 4rem;
    padding-left: 2rem;

    border-top-left-radius: var(--search-bar-border-radius);
    border-bottom-left-radius: var(--search-bar-border-radius);

    border: grey solid;
    border-top-width: var(--search-bar-border-width-pre);
    border-left-width: var(--search-bar-border-width-pre);
    border-bottom-width: var(--search-bar-border-width-pre);
    border-right-width: 0;
}

.search-bar-positioning input{
    width: 25.8rem;

    border: 0;
}

.search-bar-positioning input:focus{
    outline: 0;
}

.search-button{
    box-sizing: inherit;

    padding-right: .3rem;

    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;

    border-top-right-radius: var(--search-bar-border-radius);
    border-bottom-right-radius: var(--search-bar-border-radius);

    border: grey solid;
    border-top-width: var(--search-bar-border-width-pre);
    border-right-width: var(--search-bar-border-width-pre);
    border-bottom-width: var(--search-bar-border-width-pre);
    border-left-width: 0;
}


.search-bar-positioning label:has(input:focus),
.search-bar-positioning label:has(input:focus) + .search-button{
    border-color: blue;
    border-top-width: var(--search-bar-border-width-post);
    border-bottom-width: var(--search-bar-border-width-post);
}

.search-bar-positioning label:has(input:focus){
    border-left-width: var(--search-bar-border-width-post);
}

.search-bar-positioning label:has(input:focus) + .search-button{
    border-right-width: var(--search-bar-border-width-post);
}

.search-button svg{
    fill: grey;

    height: 3rem;
} */










.settings{
    /* grid-area: settings; */
}

.picture-description{
    /* grid-area: description; */
}

.share{
    /* grid-area: share; */
}